*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

section{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
}
article{
    width: 40%;
    min-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    
}

h2{
    width: 100%;
}

article:first-child{
    background-color: aqua;
}
article:nth-child(2){
    background-color: rgb(255, 0, 187);
}
article:nth-child(3){
    background-color: rgb(0, 255, 60);
}
article:nth-child(4){
    background-color: rgb(169, 184, 172);
}




